.footer_text {
	text-align: center;
	font-family: 'PT Sans';
	font-size: 1.5vw;
	cursor: default;
}

.footer_text_top {
	padding-top: 1.5vh;
}

.footer_icons {
	display: block;
	margin: 0 auto;
	height: 15vh;
	width: 30vw;
}

.main_icon {
	height: 2vh;
	width: 2vw;
	padding-bottom: 0;
}