#container {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-width: 480px;
   padding: 20px;
   width: 100%;
}

head {
  background-color: #333;
  min-width: 100vw;
}

/* стили для верхних кнопок, подчёркивание, смена цвета */
a.header_link {
  font-size: 25px;
  font-family: Chalet NewYorkNineteenEighty;
  padding: 5px;
  padding-top: 0px;
  
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

/* появляется полоска подчёркивания и меняется цвет */
a.header_link:hover, a.header_link:focus {
  background-size: 100% 2px;
}

/* ШАПКА */
/* выравнивание верхних кнопок по правой стороне экрана */
div.scrollmenu {
  text-align: right;
  padding: 0;
  background-color: #333;
  /* горизонтальная прокрутка хедера */
  white-space: nowrap;
  overflow-x: scroll;
  height: 70px;
}

/* параметры логотипа */
div.logo {
  float: left;
  padding: 15px;
  height: 40px;
  width: 170px;
  background-image: url('logo/logo.svg');
  background-color: #333;
  box-sizing: content-box;
}

/* логотип при наведении */
div.logo:hover {
  background-image: url('logo/logo_back.svg');
}

/* прозрачный скроллбар */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* ссылка в логотипе, отступ */
a.logolink {
  padding: 0;
}

/* настройки для текста кнопок */
div.scrollmenu a {
  display: inline-block;
  text-align: center;
  /* up right down left */
  padding: 20px;
  color: white;
  text-decoration: none;
}

/* цвет при наведении на кнопку */
div.scrollmenu a:hover {
  background-color: #676769;
}

/* Dropdown Button */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 19px 20px 20px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0px;

  font-size: 25px;
  font-family: Chalet NewYorkNineteenEighty;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

.dropbtn:hover, .dropbtn:focus {
  background-size: 100% 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 73px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 20px;
    text-decoration: none;
    display: block;
    color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #676769;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333;}