/* тело сайта, убраны все отступы */
body {
	margin: 0;
}


/* класс текста */
text.portfolio_text {
	font-family: PT Sans;
	color: black;
	text-align: left;
	max-width: 40%;
	max-height: 40%;
	padding: 0;
	font-size: 100%;
	cursor: default;
  }

/* класс фото */
.leftimg {
  	float: left; /* Выравнивание по левому краю */
  	padding: 0 15px 0 0; /* Отступы вокруг картинки */
  	max-width: 35%;
  	width: auto;
  	height: auto;
/*	object-fit: cover;
	display: block;*/
	
}

text {
	color: black;
  	font-family: PT Sans;	
}

.name_text {
	font-size: 120%;
	text-align: justify;
	cursor: default;
}

.professions {
	color: #B94F4F;
	font-size: 100%;
	font-weight: normal;
	text-align: justify;
	cursor: default;
}

.location {
	color: #676769;
	font-size: 80%;
	font-style: italic;
}

.thanks_text {
	color: #676769;
}

/* Красный блок, фоновая картинка розы */
.block1 {
	float: right;
	background-image: url('/static/home/roses_back.png');
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-color: #B94F4F;*/
	height: 80%;
	width: 100%;
	padding: 0;
}

.interactive_svg {
	padding-top: 0;
	height: 100%;
	float: left;
}

.text_for_svg {
	float: right;
	max-width: 40%;
	max-height: 40%;
	padding-right: 15px;
	text-align: right;
	font-size: 7vw;
	font-family: Bebas Neue Cyrillic;
	color: white;
	cursor: default;
}

.block2 {
	float: right;
	background-image: url('/static/home/fog_back.png');
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-color: #B94F4F;*/
	height: 80%;
	width: 100%;
	padding: 0;
}

.interactive_svg2 {
	padding-top: 0;
	float: right;
	width: 100%;
}

.text_for_svg2 {
	float: left;
	max-width: 40%;
	max-height: 40%;
	padding-left: 15px;
	text-align: left;
	font-size: 7vw;
	font-family: Bebas Neue Cyrillic;
	color: #333;
	cursor: default;
}

.block3 {
	float: right;
	background-image: url('/static/home/ocean_back.png');
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 80%;
	width: 100%;
	padding: 0;
}

.text_for_svg3 {
	float: right;
	max-width: 40%;
	max-height: 40%;
	padding-right: 15px;
	text-align: right;
	font-size: 7vw;
	font-family: Bebas Neue Cyrillic;
	color: white;
	cursor: default;
}


