body {
  background: white;
}

text {
  font-size: 18px;
  font-family: PT Sans;
  color: black;
  }

.black_block {
  background: black;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 10px 10px 10px 10px; /* Отступы вокруг картинки */  
}


/* стили для верхних кнопок, подчёркивание, смена цвета */
a {
    color: #da3838;
    text-decoration: none;
    font-size: 25px;
    font-family: Chalet NewYorkNineteenEighty;
    padding: 5px;
    padding-top: 0px;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
    color: #de8181;
}

/* выравнивание верхних кнопок по ширине экрана */
ul {
  align-content: center;
  text-align: center;
  width: 200vh;
}

ul li  {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}