/* тело сайта, убраны все отступы */
body {
  margin: 0;
}

/* класс текста */
text {
  font-size: 18px;
  font-family: PT Sans;
  color: black;
  }


/* чёрный блок */
.black_block {
  background: black;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* класс фото */
img.leftimg {
  float: left; /* Выравнивание по левому краю */
  margin: 10px 10px 10px 10px; /* Отступы вокруг картинки */  
}

/* стили для верхних кнопок, подчёркивание, смена цвета */
a {
  font-size: 25px;
  font-family: Chalet NewYorkNineteenEighty;
  padding: 5px;
  padding-top: 0px;
  
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

/* появляется полоска подчёркивания и меняется цвет */
a:hover, a:focus {
  background-size: 100% 2px;
}

/* ШАПКА */
/* выравнивание верхних кнопок по правой стороне экрана */
div.scrollmenu {
  text-align: right;
  padding: 0;
  background-color: #333;
  /* горизонтальная прокрутка хедера */
  white-space: nowrap;
  overflow-x: scroll;
  height: 70px;
}

/* параметры логотипа */
div.logo {
  float: left;
  padding: 15px;
  height: 40px;
  width: 170px;
  background-image: url('logo.svg');
  background-color: #333;

}

/* логотип при наведении */
div.logo:hover {
  background-image: url('logo_2.svg');
}

/* прозрачный скроллбар */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* ссылка в логотипе, отступ */
a.logolink {
  padding: 0;
}

/* настройки для текста кнопок */
div.scrollmenu a {
  display: inline-block;
  text-align: center;
  /* up right down left */
  padding: 20px;
  color: white;
  text-decoration: none;
}

/* цвет при наведении на кнопку */
div.scrollmenu a:hover {
  background-color: #676769;
}

/* меню смены языка */
.dropdown {
  float: right;
  /*position: relative;*/
  display: inline-block;
  background-color: #333;
  padding: 0;  
  font: 0;
}


/* стили выпадающего меню языка */
.dropdown-content {
  padding: 0;
  display: none;
  position: absolute;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



p {
  padding: 0 15px 15px 15px;
  color: white;
  background-color: #333;
  font-size: 25px;
  font-family: Chalet NewYorkNineteenEighty;


  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
  
}

p:hover, p:focus {
  background-size: 100% 2px;
}



/* выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
}