/* тело сайта, убраны все отступы */
body {
  margin: 0;
}

/* класс текста */
text {
  font-size: 18px;
  font-family: PT Sans;
  color: black;
  }

img.logo {
  
}

/* чёрный блок */
.black_block {
  background: black;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* класс фото */
.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 10px 10px 10px 10px; /* Отступы вокруг картинки */  
}

/* стили для верхних кнопок, подчёркивание, смена цвета */
a {
    color: #da3838;
    text-decoration: none;
    font-size: 25px;
    font-family: Chalet NewYorkNineteenEighty;
    padding: 5px;
    padding-top: 0px;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

/* появляется полоска подчёркивания и меняется цвет */
a:hover, a:focus {
    background-size: 100% 2px;
    color: #de8181;
}

/* ШАПКА */
/* выравнивание верхних кнопок по правой стороне экрана */
div.scrollmenu {
  text-align: right;
  padding: 0;
  background-color: #333;
  /* горизонтальная прокрутка хедера */
  white-space: nowrap;
  overflow-x: scroll;
  height: 70px;
}

/* прозрачный скроллбар */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

/* настройки для текста кнопок */
div.scrollmenu a {
  display: inline-block;
  text-align: center;
  /* up right down left */
  padding: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* цвет при наведении на кнопку */
div.scrollmenu a:hover {
  background-color: #777;
}