{% include 'header.html' %}
<body>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/black_box.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
	<!-- Чёрная полоса -->
	<div class='black_block'>
		<div class='bb_text'>Home<img src="static/bb_icons/home_icon.svg" class='bb_icon' /></div>
	</div>
	<div class='white_block'>
		<!-- Фото -->
		<img src="{{ 'static/home/photo.png' }}" alt="my photo" class='leftimg'>
		<!-- Имя Заголовок -->
		<text class='name_text'>Jaŭhien 
			<b>Leaniuk</b>
		</text>
		<!-- Профессии -->
		<br />
		<text class='professions'>Teacher · Entrepreneur · Python Developer · Author</text>
		<!-- Место -->
		<br />
		<text class='location'>Janaŭ, Belarus</text>
		<!-- Кнопки соц сетей -->
		<br />
		<br />
		<a href='https://t.me/jhnlnk' target='_blank' class='telegram_link'><img class='telegram_logo'></img></a><a href='https://github.com/UngeheurenUngeziefer' target='_blank' class='github_link'><img class='github_logo'></img></a><a href='https://www.instagram.com/skona_stadt/' target='_blank' class='instagram_link'><img class='instagram_logo'></img></a><a href="{{ 'static/resume.pdf' }}" target='_blank' class='resume_link'><img class='resume_logo'></img></a>
		<!-- Текст портфолио -->
		<br />
		<text class='portfolio_text'>Hi there! My name is Jauhien Leaniuk. I'm master of geography and junior python developer from Belarus. This is a portfolio-website created to show my skills, and also to present myself as a web-developer, and to show my own projects and hobbies. I have a passion in learning new programming technologies, geography, philosophy, running, self development and creation new things. I worked as a author, teacher (of geography), freelancer (mostly as a designer and animator) and analyst. As I develop my programming skills I will be sharing all my projects on this site (in coding section). Also this site will contain my other passions: maps that I've created as a geographer and The Dialogue author, my running statistic and my musical preferences.<i class='thanks_text'><br />Thanks for Your attention!</i></text>
	</div>
	<!-- Технологии + Интерактивный SVG-->
	<div class='block1'>
		<div class='text_for_svg'>Tech's and<br />Spheres used<br />in my projects</div>
		<object type="image/svg+xml" data="{{ 'static/home/my_projects_stats.svg' }}" class='interactive_svg'></object>
	</div>
	<!-- Интерактивный SVG + Способности-->
	<div class='block2'>
		<object type="image/svg+xml" data="{{ 'static/home/my_skills.svg' }}" class='interactive_svg2'></object>
		<div class='text_for_svg2'>My<br />skills</div>
	</div>
	<!-- Опыт + Интерактивный SVG-->
	<div class='block3'>
		<div class='text_for_svg3'>My<br />Expirience</div>
		<object type="image/svg+xml" data="{{ 'static/home/my_expirience.svg' }}" class='interactive_svg'></object>
	</div>
	<div class='footer'>
		{% include 'footer.html' %}
	</div>
</body>
