{% include 'header.html' %}
<body>
	<!-- Масштабирование по ширине экрана -->
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/black_box.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/coding.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
	<!-- Чёрная полоса -->
	<div class='black_block'>
		<div class='bb_text'>Home<img src="static/bb_icons/home_icon.svg" class='bb_icon' /></div>
	</div>

	<div class='project_block'>
        <div class='project_name'>
            <text class='name_text'>Jaŭhien 
            	<b>Leaniuk</b>
            </text><br />
            Teacher<br/>Entrepreneur<br/>Python Developer<br/>Author<br />
            <text class='location'>Janaŭ, Belarus</text>
        </div>
        <div class='project_description'>
        	<img src="{{ 'static/home/photo.png' }}" alt="my photo" class='leftimg' />
			<!-- Текст портфолио -->
			<text class='portfolio_text'>Hi there! My name is Jauhien Leaniuk. I'm master of geography and junior python developer from Belarus. This is a portfolio-website created to show my skills, and also to present myself as a web-developer, and to show my own projects and hobbies. I have a passion in learning new programming technologies, geography, philosophy, running, self development and creation new things. I worked as a author, teacher (of geography), freelancer (mostly as a designer and animator) and analyst. As I develop my programming skills I will be sharing all my projects on this site (in coding section). Also this site will contain my other passions: maps that I've created as a geographer and <a class='coding_link' href='http://the-dialogue.com/' target='_blank'>The Dialogue</a> author and my running statistic.
			<i class='thanks_text'><br />Thanks for Your attention!</i>
			</text>
        </div>
        <div class='date'>
            	<a class='coding_link' target='_blank' href='https://t.me/jhnlnk'>Telegram</a><br />
            	<a class='coding_link' target='_blank' href='https://github.com/UngeheurenUngeziefer'>GitHub</a><br />
            	<a class='coding_link' target='_blank' href='https://www.instagram.com/python_subjugation'>Instagram</a><br />
            	<a class='coding_link' target='_blank' href="{{ 'static/resume.pdf' }}">Resume</a><br />
	    </div>
	    <div class='horizontal_space'></div>
	</div>

	<div class='project_block'>
        <div class='project_name'>
            <text class='name_text'><b>Tech's</b> and <b>Spheres</b></text><br />
            used in my projects
        </div>
        <div class='project_description'>
        	<object type="image/svg+xml" data="{{ 'static/home/my_projects_stats.svg' }}" class='interactive_svg'></object>
        </div>
	    <div class='horizontal_space'></div>
	</div>

	<div class='project_block'>
        <div class='project_name'>
            <text class='name_text'>My<b> Skills</b></text><br />
        </div>
        <div class='project_description'>
        	<object type="image/svg+xml" data="{{ 'static/home/my_skills.svg' }}" class='interactive_svg'></object>
        </div>
	    <div class='horizontal_space'></div>
	</div>

	<div class='project_block'>
        <div class='project_name'>
            <text class='name_text'>My<b> Expirience</b></text><br />
        </div>
        <div class='project_description'>
        	<object type="image/svg+xml" data="{{ 'static/home/my_expirience.svg' }}" class='interactive_svg'></object>
        </div>
	    <div class='horizontal_space'></div>
	</div>
	<div class='footer'>
		{% include 'footer.html' %}
	</div>
</body>
